<!DOCTYPE html>
<html ng-app="clientsApp" ng-controller="ClientsController as $ctrl">
<head>
    <meta charset="utf-8" />
    <title>Hello world</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
    <!--<script src="example.js"></script>-->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!--<script src="js/lib/angular/angular.min.js"></script>
    <script src="js/lib/angular/angular-animate.min.js"></script>
    <script src="js/lib/angular/angular-sanitize.min.js"></script>
    <script src="js/lib/jquery/dist/jquery.min.js"></script>
    <script src="js/lib/angular/angular-ui-router.min.js"></script>-->
    <script src="js/controllers/clients.controller.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="css/main.css">
    <!--<link data-require="bootstrap@3.3.7" data-semver="3.3.7" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.6/ui-bootstrap-tpls.min.js"></script>-->
</head>
<body>
    <div ng-controller="ClientsController as $ctrl">
        <script type="text/ng-template" id="clientModal.html">
                <div class="modal-header">
                    <h3 class="modal-title" id="modal-title">Add client</h3>
                </div>
                <div class="modal-body" id="modal-body">
                    <form name="clientForm">
                        <div class="form-group">
                            <label for="firstName">First name</label>
                            <input type="text" class="form-control" id="firstName" name="firstName" ng-model="$ctrl.clientModel.firstName" minlength="2" maxlength="30" ng-pattern="/^[a-zA-Z. ]*[a-zA-Z]{1,30}$/" required placeholder="First name">
                            <span style="color:red" ng-show="clientForm.firstName.$dirty && clientForm.firstName.$invalid" class="ng-hide">
                            Invalid first name.</span>
                        </div>
                        <div class="form-group">
                            <label for="lastName">Last name</label>
                            <input type="text" class="form-control" id="lastName" name="lastName" ng-model="$ctrl.clientModel.lastName" minlength="2" maxlength="30" ng-pattern="/^[a-zA-Z. ]*[a-zA-Z]{1,30}$/" placeholder="Last name">
                            <span style="color:red" ng-show="clientForm.lastName.$dirty && clientForm.lastName.$invalid" class="ng-hide">
                            Invalid last name.</span>
                        </div>
                        <div class="form-group">
                            <label for="clientPostalAddress">Postal address</label>
                            <input type="text" class="form-control" id="clientPostalAddress" ng-model="$ctrl.clientModel.address" maxlength="100" placeholder="Enter address">
                        </div>
                        <div class="form-group">
                            <label for="clientEmail">Email</label>
                            <input type="email" class="form-control" id="clientEmail" name="clientEmail" ng-model="$ctrl.clientModel.email" ng-pattern="emailPattern" required placeholder="Enter email">
                            <span style="color:red" ng-show="clientForm.clientEmail.$dirty && clientForm.clientEmail.$invalid">
                            <span ng-show="clientForm.clientEmail.$error.required">Email is required.</span>
                            <span ng-show="clientForm.clientEmail.$error.email">Invalid email address.</span>
                        </div>
                        <div class="form-group">
                            <label for="homePhones">Home phones</label>
                            <input type="text" class="form-control" id="homePhones" name="homePhones" ng-model="$ctrl.clientModel.homePhones" ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/im" placeholder="Enter home phones">
                            <span style="color:red" ng-show="clientForm.homePhones.$dirty && clientForm.homePhones.$invalid" class="ng-hide">
                            Invalid phone number </span>

                        </div>
                        <div class="form-group">
                            <label for="mobilePhones">Mobile phones</label>
                            <input type="text" class="form-control" id="mobilePhones" name="mobilePhones" ng-model="$ctrl.clientModel.mobilePhones" ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/im" placeholder="Enter mobile phones">
                            <span style="color:red" ng-show="clientForm.mobilePhones.$dirty && clientForm.mobilePhones.$invalid" class="ng-hide"> Invalid phone number </span>
                        </div>
                        <div class="form-group">
                            <label for="workPhones">Work phones</label>
                            <input type="text" class="form-control" id="workPhones" name="workPhones" ng-model="$ctrl.clientModel.workPhones" ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/im" placeholder="Enter work phones">
                            <span style="color:red" ng-show="clientForm.workPhones.$dirty && clientForm.workPhones.$invalid" class="ng-hide"> Invalid phone number </span>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" ng-disabled="clientForm.$invalid || (clientForm.homePhones.$pristine || $ctrl.clientModel.homePhones.length == 0 || clientForm.homePhones.length != 0 && clientForm.homePhones.$invalid) && (clientForm.mobilePhones.$pristine || $ctrl.clientModel.mobilePhones.length == 0 || clientForm.mobilePhones.length != 0 && clientForm.mobilePhones.$invalid) && (clientForm.workPhones.$pristine || $ctrl.clientModel.workPhones.length == 0 || clientForm.workPhones.length != 0 && clientForm.workPhones.$invalid)" ng-click="$ctrl.ok()">Submit</button>
                            <button type="button" class="btn btn-warning" ng-click="$ctrl.cancel()">Cancel</button>
                        </div>
                    </form>
                </div>

            </div>
        </script>
        <script type="text/ng-template" id="deleteClientModal.html">
                <div class="modal-header">
                    <h3 class="modal-title" id="modal-title">Delete client</h3>
                </div>
                <div class="modal-body" id="modal-body">
                 Are you sure you want to delete <span style="font-weight:bold"> {{$ctrl.clientModel.firstName}} {{$ctrl.clientModel.lastName}} </span> (id: {{$ctrl.clientModel.id}})?
                </div>
                <div class="modal-footer">
                     <button type="button" class="btn btn-primary" ng-click="$ctrl.ok()">Submit</button>
                     <button type="button" class="btn btn-warning" ng-click="$ctrl.cancel()">Cancel</button>
                </div>
            </div>
        </script>
        <script type="text/ng-template" id="dialogModal.html">
                <div class="modal-header">
                    <h3 class="modal-title" id="modal-title">{{$ctrl.result.state}}</h3>
                </div>
                <div class="modal-body" id="modal-body">
                    {{$ctrl.result.message}}
                </div>
                <div class="modal-footer">
                     <button type="button" class="btn btn-primary" ng-click="$ctrl.ok()">Ok</button>
                </div>
            </div>
        </script>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <h3>Clients</h3>
                    <div class="row">
                        <a href="#" ng-click="$ctrl.addClient()" title="Add Record" class="btn btn-success pull-right"> Add new </a>
                        <a href="#" ng-click="$ctrl.getClients()" title="Refresh" class="btn btn-danger pull-right"> Get list </a>
                    </div>
                    <table style="width:100%" class="table table-striped">
                        <tr>
                            <th>N</th>
                            <th>Id</th>
                            <th>LastName</th>
                            <th>FirstName</th>
                            <th>Address</th>
                            <th>Email</th>
                            <th>Home phones</th>
                            <th>Mobile phones</th>
                            <th>Work phones</th>
                            <th></th>
                        </tr>
                        <tr ng-repeat="item in $ctrl.ClientsList">
                            <td>{{$index+1}}</td>
                            <td>{{ item.id }}</td>
                            <td>{{ item.lastName }}</td>
                            <td>{{ item.firstName }}</td>
                            <td>{{ item.address }}</td>
                            <td>{{ item.email }}</td>
                            <td>{{ item.homePhones }}</td>
                            <td>{{ item.mobilePhones }}</td>
                            <td>{{ item.workPhones }}</td>
                            <td>
                                <a href="#" ng-click="$ctrl.deleteClient(item)" title="Delete Record" class="btn btn-danger btn-xs pull-right"> Delete </a>
                                <a href="#" ng-click="$ctrl.editClient(item)" title="Edit Record" class="btn btn-primary btn-xs pull-right"> Edit </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
