<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Add client</h3>
</div>
<div class="modal-body" id="modal-body">
    <form name="clientsForm" ng-controller="ClientsController">
        <div class="form-group">
            <label for="clientFirstName">First name</label>
            <input type="text" class="form-control" id="clientFirstName" ng-model="clientFirstName" ng-pattern="namePattern" aria-describedby="emailHelp" placeholder="Client first name">
        </div>
        <div class="form-group">
            <label for="clientLastName">Last name</label>
            <input type="text" class="form-control" id="clientLastName" ng-model="clientLastName" ng-pattern="namePattern" aria-describedby="emailHelp" placeholder="Client last name">
        </div>
        <div class="form-group">
            <label for="clientPostalAddress">Postal address</label>
            <input type="text" class="form-control" id="clientPostalAddress" ng-model="clientAddress" aria-describedby="emailHelp" placeholder="Enter address">
        </div>
        <div class="form-group">
            <label for="clientEmail">Email</label>
            <input type="email" class="form-control" id="clientEmail" ng-model="clientEmail" ng-pattern="emailPattern" required aria-describedby="emailHelp" placeholder="Enter email">
            <span ng-show="clientsForm.clientEmail.$invalid">invalid.</span>
        </div>
        
        <!--<div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>-->
        <button type="button" class="btn btn-primary" ng-click="submit()" ng-disabled="clientsForm.$invalid">Submit</button>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="ok()">Ok</button>
    <button type="button" class="btn btn-light" ng-click="cancel()">Cancel</button>
</div>
