<div ng-controller="ClientsController as $ctrl">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Delete client</h3>
    </div>
    <div class="modal-body" id="modal-body">
        Are you sure you want to delete the selected item? {{$ctrl.itemToDelete}}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="ok()">Ok</button>
        <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</div>